.bonds {
  padding-top: 0px;
  padding-left: 0px;
}

.card_default {
  width: 100%;
  height: auto;
}

.card_hand {
  width: 10%;
  height: auto;
}

.card_selected {
  border: dashed 2px #5b8bd0;
}

.card_bond {
  width: 12%;
  height: auto;
}

.card_orb {
  width: 50%;
  height: auto;
}

.card_field {
  width: 17%;
  height: auto;
}

.card_done {
  width: 17%;
  height: auto;
  transform: rotate(-90deg);
}

.deck_image {
  width: 100%;
  height: auto;
}

.field_cards {
  padding-top: 5%;
}

.orb {
  padding-left: inherit;
}

.my_player {
  position: relative;
}

.enemy_player {
  position: relative;
}

.play_sheet {
  width: 80%;
  height: auto;
}

.enemy_play_sheet {
  width: 80%;
  height: auto;
  transform: scale(-1, -1);
}

.enemy_deck {
  position: absolute;
  top: 37.5%;
  left: 11%;
  width: 10%;
  height: 30%;
}

.enemy_front_field {
  position: absolute;
  top: 65%;
  left: 22.5%;
  width: 55%;
  height: 35%;
}

.enemy_back_field {
  position: absolute;
  top: 28%;
  left: 22.5%;
  width: 55%;
  height: 35%;
}

.enemy_bonds {
  position: absolute;
  top: 2.5%;
  left: 23.5%;
  width: 56.5%;
  height: 21%;
}

.enemy_support {
  position: absolute;
  top: 70%;
  left: 11%;
  width: 10%;
  height: 30%;
}

.enemy_evacuation {
  position: absolute;
  top: 3%;
  left: 11%;
  width: 10%;
  height: 30%;
}

.enemy_orb {
  position: absolute;
  top: 36%;
  left: 79%;
  width: 10%;
  height: 58%;
}

.my_deck {
  position: absolute;
  top: 32.5%;
  left: 78.5%;
  width: 10%;
  height: 30%;
}

.my_front_field {
  position: absolute;
  top: 2%;
  left: 22%;
  width: 55%;
  height: 35%;
}

.my_back_field {
  position: absolute;
  top: 35%;
  left: 22%;
  width: 55%;
  height: 35%;
}

.my_bonds {
  position: absolute;
  top: 77%;
  left: 20%;
  width: 56.5%;
  height: 21%;
}

.my_support {
  position: absolute;
  top: 0%;
  left: 78.5%;
  width: 10%;
  height: 30%;
}

.my_evacuation {
  position: absolute;
  top: 68%;
  left: 78.5%;
  width: 10%;
  height: 30%;
}

.my_orb {
  position: absolute;
  top: 5%;
  left: 11%;
  width: 10%;
  height: 58%;
}

.waku02 {
  position: relative;
}
.waku02:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0px 8px rgba(255, 255, 255, 0.6);
}

.bond-count-icon {
  position: absolute;
  top: 0%;
  left: 0%;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  width: 15%;
  height: 100%;
  line-height: 0;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
  transition: 0.4s;
  font-size: 50%;
}

.my-turn-end-button {
  position: absolute;
  top: 83%;
  left: 90%;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  width: 10%;
  height: 15%;
  line-height: 1;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
  transition: 0.4s;
  font-size: 50%;
}

.enemy-turn-end-button {
  position: absolute;
  top: 0%;
  left: 0%;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  width: 10%;
  height: 15%;
  line-height: 1;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
  transition: 0.4s;
  font-size: 50%;
}
